<form [formGroup]="form">

<div>
  <input type="number" formControlName="inputFromAmount" value="{{fromAmount}}" min="0">
  <select formControlName="selectFromAmount" >
    <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
  </select>
</div>

<p class="equal">=</p>

<div>
  <input type="number" formControlName="inputToAmount" value="{{toAmount}}" min="0">
  <select formControlName="selectToAmount">
    <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
  </select>
</div>

</form>
